 <!-- RD Navbar Transparent-->
<div class="rd-navbar-wrap">
    <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <h4 class="panel-title veil-md">@ViewBag.Message</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>
                <div class="rd-navbar-top-panel">
                    <div class="rd-navbar-top-panel-left-part">
                        <ul class="list-unstyled">
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                                    <div class="unit-body">
                                        <a href="callto:#">@Resources.Resources.Phone</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                                    <div class="unit-body"><a href="#">@Resources.Resources.Address1 @Resources.Resources.Address2</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                                    <div class="unit-body"><a href="mailto:#">@Resources.Resources.Email</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                </div>
            </div>
            <div class="rd-navbar-menu-wrap clearfix">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand">
                    <a href="#" class="reveal-inline-block">
                        <div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
                            <div class="unit-left"><img width='170' height='172' src='images/logo-170x172.png' alt='' /></div>
                            <div class="unit-body text-xl-left">
                                <div class="rd-navbar-brand-title">@Resources.Resources.Denominacion</div>
                                <div class="rd-navbar-brand-slogan">@Resources.Resources.Region</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                        <div class="rd-navbar-mobile-header-wrap">
                            <!--Navbar Brand Mobile-->
                            <div class="rd-navbar-mobile-brand"><a href="#"><img width='136' height='138' src='images/logo-170x172.png' alt='' /></a></div>
                        </div>
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="active">
                                <a href="#">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Comite</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">Grid</a>
                                    </li>
                                    <li>
                                        <a href="#">Icons</a>
                                    </li>
                                    <li>
                                        <a href="#">Tables</a>
                                    </li>
                                    <li>
                                        <a href="#">Progress bars</a>
                                    </li>
                                    <li>
                                        <a href="#">Tabs &amp; Accordions</a>
                                    </li>
                                    <li>
                                        <a href="#">Forms</a>
                                    </li>
                                    <li>
                                        <a href="#">Buttons</a>
                                    </li>
                                    <li>
                                        <a href="#">Typography</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Sociedades</a>
                                <div class="rd-navbar-megamenu">
                                    <div class="row section-relative">
                                        <ul class="col-md-3">
                                            <li class="tabs-nav">
                                                <h6>ASOCHEC</h6>
                                                <ul class="list-unstyled offset-lg-top-20">
                                                    <li><a href="academic.html#0">Inicio</a></li>
                                                    <li><a href="academic.html#1">Directiva</a></li>
                                                    <li><a href="academic.html#2">Pagina Oficial</a></li>                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li>
                                                <h6>ADAMES</h6>
                                                <ul class="list-unstyled offset-lg-top-20">
                                                    <li><a href="404.html">Inicio</a></li>
                                                    <li><a href="#">Directiva</a></li>
                                                    <li><a href="#">Pagina Oficial</a></li>                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li>
                                                <h6>AJEC</h6>
                                                <ul class="list-unstyled offset-lg-top-20">
                                                    <li><a href="#">Inicio</a></li>
                                                    <li><a href="#">Directiva</a></li>
                                                    <li><a href="#">Pagina Oficial</a></li>                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="col-md-3">
                                            <li>
                                                <h6>JOYAS</h6>
                                                <ul class="list-unstyled offset-lg-top-20">
                                                    <li><a href="#">Inicio</a></li>
                                                    <li><a href="#">Directiva</a></li>
                                                    <li><a href="#">Pagina Oficial</a></li>
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Eventos</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">Classic news</a>
                                    </li>
                                    <li>
                                        <a href="#">Grid News</a>
                                    </li>
                                    <li>
                                        <a href="#">Masonry News</a>
                                    </li>
                                    <li>
                                        <a href="grid-news-3-columns.html">3 Columns Grid News</a>
                                    </li>
                                    <li>
                                        <a href="#">Modern News</a>
                                    </li>
                                    <li>
                                        <a href="#">News Post Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Distritos</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">Carolina Del Norte</a>
                                    </li>
                                    <li>
                                        <a href="#">Carolina Del Sur</a>
                                    </li>
                                    <li>
                                        <a href="#">Georgia Norte</a>
                                    </li>
                                    <li>
                                        <a href="#">Georgia Sur</a>
                                    </li>
                                    <li>
                                        <a href="#">Tennesse</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Departamentos</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a href="#">ASPEN</a>
                                    </li>
                                    <li>
                                        <a href="#">MIZPA</a>
                                    </li>
                                    @*<li>
                                        <a href="#">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="#">Checkout</a>
                                    </li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Donaciones</a>
                            </li>
                            <li>
                                <a href="#">Contactos</a>
                            </li>
                            @*<li class="veil-md"><a href="#">Shopping Cart (2)</a></li>*@
                        </ul>
                        <!--RD Navbar Mobile Search-->
                        <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                            <form action="#" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                                <div class="form-group">
                                    <label for="rd-navbar-mobile-search-form-input" class="form-label">Search...</label>
                                    <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" />
                                </div>
                                <button type="submit" class="icon fa-search rd-navbar-search-button"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search">
                    <a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                    <form action="#" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                        <div class="form-group">
                            <label for="rd-navbar-search-form-input" class="form-label">Search</label>
                            <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest" />
                            <div id="rd-search-results-live" class="rd-search-results-live"></div>
                        </div>
                    </form>
                </div>
                <!--RD Navbar shop-->
                <div class="rd-navbar-cart"><span class="icon fa-shopping-cart"></span><a href="#" class="inset-left-10">2</a></div>
            </div>
        </div>
    </nav>
</div>
